@media (min-width: 20em) {
  .page-list{
    display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 100px;
  padding: 0;
  }
}
@media (min-width: 35.5em) {
  .page-list{
  grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 48em) {
  .page-list{
  grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 64em) {
  .page-list{
  grid-template-columns: repeat(4, 1fr);
  }
}
@media(min-width: 80em){
  .page-list{
  grid-template-columns: repeat(5, 1fr);
  }
}
