.card-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
  } 
  .heart-btn{
    transition: color, transform 500ms ease;
  }
  .heart-btn:hover{
    transform: scale(1.3);
  }